{
  "semi": false,
  "singleQuote": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-sql",
    "prettier-plugin-tailwindcss"
  ],
  "overrides": [
    {
      "files": ["./database/postgres/migrations/*"],
      "options": {
        "language": "postgresql",
        "keywordCase": "upper",
        "dataTypeCase": "upper",
        "functionCase": "lower"
      }
    },
    {
      "files": ["./database/sqlite/migrations/*"],
      "options": {
        "language": "sqlite",
        "keywordCase": "upper",
        "dataTypeCase": "upper",
        "functionCase": "lower"
      }
    }
  ]
}
